.header .nav-bar .nav .nav-heart{
    position: fixed;
    top:0px;
    right: 0px;
    transition: 0.4s ease-out all;
    transform: translateX(302px);
    opacity: 1;
    height: 100vh;
    width: 300px;
    pointer-events: none;
    overflow: hidden;
    background-color:white ;
    z-index: 3;
}

.header .nav-bar .nav .nav-heart.activo{
    position: fixed;
    top: 0px;
    right: 123px;
    transform: translateX(123px);
    opacity: 1;
    height: 100vh;
    width: 300px;
    pointer-events: auto;
    background-color: white;
    z-index: 3;
}
.header .nav-bar .nav .nav-heart .row-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
}
.header .nav-bar .nav .nav-heart .row-1 .text-heart{
    color: #000000;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    padding: 0 10px;
}
.header .nav-bar .nav .nav-heart .row-1 .close-heart{
    background-color: transparent;
    border: none;
    margin: 20px 20px 0 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
.header .nav-bar .nav .nav-heart .row-1 .close-heart i{
    transition: 0.3s ease all;
    font-size: 20px;
    color: #000000
}
.header .nav-bar .nav .nav-heart .row-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.header .nav-bar .nav .nav-heart .row-2 .producto-heart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header .nav-bar .nav .nav-heart .row-2 .producto-heart p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}
.header .nav-bar .nav .nav-heart .lista .lista-heart{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    overflow-x: hidden;
}
.header .nav-bar .nav .nav-heart .lista .lista-heart ::-webkit-scrollbar{
    width: 7px;
}
.header .nav-bar .nav .nav-heart .lista .lista-heart ::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 5px;
}
.header .nav-bar .nav .nav-heart .lista .lista-heart .productos-en-heart{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: initial;
    gap: 40px;
}
.header .nav-bar .nav .nav-heart .lista .lista-heart .productos-en-heart .producto-en-heart{
    display: flex;
    align-items: initial;
    gap: 10px;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 10px;
}
.header .nav-bar .nav .nav-heart .lista .lista-heart .productos-en-heart .producto-en-heart img{
    width: 40%;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.header .nav-bar .nav .nav-heart .lista .lista-heart .productos-en-heart .producto-en-heart .nombre-precio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:initial;
    width: 100%;
}
.header .nav-bar .nav .nav-heart .lista .lista-heart .productos-en-heart .producto-en-heart .nombre-precio .nombre-producto{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-bottom: 15px;
}
.header .nav-bar .nav .nav-heart .lista .lista-heart .productos-en-heart .producto-en-heart .nombre-precio .nombre-producto a{
    color: black;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    width: 80%;
}
.header .nav-bar .nav .nav-heart .lista .lista-heart .productos-en-heart .producto-en-heart .nombre-precio .nombre-producto button{
    background:none;
    border: none;
    cursor: pointer;
}
.header .nav-bar .nav .nav-heart .lista .lista-heart .productos-en-heart .producto-en-heart .nombre-precio .precio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.header .nav-bar .nav .nav-heart .lista .lista-heart .productos-en-heart .producto-en-heart .nombre-precio .precio span{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}