.item-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.item-container .item-images-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    width: 70%;
}
.item-container .item-images-section .images{
    width: 450px;
    height: 450px;
    border: 1px solid black;
}
.item-container .item-images-section .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-container .item-detail-section{
    width: 30%;
    height: 100%;
    position: sticky;
    top: 10px;
}
.item-container .item-detail-section .detail-basic{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.item-container .item-detail-section .detail-basic .item-marca{
    display: flex;
    justify-content: flex-start;
}
.item-container .item-detail-section .detail-basic .item-marca a{
    color: black;
    font-family: poppins;
    font-size: 13px;
}
.item-container .item-detail-section .detail-basic .item-name{
    display: flex;
    justify-content: flex-start;
}
.item-container .item-detail-section .detail-basic .item-name h1{
    font-family: poppins;
    font-size: 30px;
    text-align: initial;
}
.item-container .item-detail-section .item-specifications{
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
}
.item-container .item-detail-section .item-specifications .item-specification-column{
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    /* border: 1px red solid; */
}
.item-container .item-detail-section .item-specifications .item-specification-column .item-price{
    font-family: poppins;
    font-size: 18px;
}
.item-container .item-detail-section .item-specifications .item-specification-column .page-cart span{
    font-family: poppins;
    font-size: 17px;
    color: black;
}
.item-container .item-detail-section .item-specifications .item-specification-column .item-description{
    font-family: poppins;
    font-size: 15px;
    margin-bottom: 15px;
}
.item-container .item-detail-section .item-specifications .item-specification-column .availability .availability-container{
    display: flex;
    flex-direction: column;
}
.item-container .item-detail-section .item-specifications .item-specification-column .availability .availability-container .type-delivery{
    font-family: poppins;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 3px;
}
.item-container .item-detail-section .item-specifications .item-specification-column .availability .availability-container .availability-item{
    font-family: poppins;
    font-size: 13px;
    display: flex;
    gap: 5px;
}
/* .item-container .item-detail-section .item-specifications .item-specification-column .item-caracteristicas{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px salmon solid;

}
.item-container .item-detail-section .item-specifications .item-specification-column .item-caracteristicas .specifications-title{
    font-family: poppins;
    font-size: 15px;
}
.item-container .item-detail-section .item-specifications .item-specification-column .item-caracteristicas .specifications-list ul{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.item-container .item-detail-section .item-specifications .item-specification-column .item-caracteristicas .specifications-list ul li{
    font-family: poppins;
    font-size: 13px;
    text-align: start;
}
.item-container .item-detail-section .item-specifications .item-specification-column .item-caracteristicas a{
    color: black;
    font-size: 13px;
    font-family: poppins;
    text-align: center;
    text-decoration:underline;
} */
/* .item-container .item-detail-section .item-specifications .item-specification-column .availability {
    border: 1px solid black; 
} */