
.counter{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}
.counter .counter-content{
    display: flex;
    align-items: center;
    gap: 15px;
}
.counter-content button{
    line-height: 15px;
    background-color: black;
    width: 30px;
    height: 30px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.counter-content button:disabled{
    line-height: 15px;
    background-color: transparent;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.counter .counter-content .stock{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;

}
.item-add-to-card button{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    background-color: black;
    padding: 15px 10px;
    color: white;
    cursor: pointer;
}
.counter .counter-content span{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.counter .max-stock{ 
    background-color: rgb(233, 220, 109);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 300px;
}
.counter .max-stock span{ 
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
