
.counter{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}
.counter .counter-content{
    display: flex;
    align-items: center;
    gap: 15px;
}
.counter-content button{
    line-height: 15px;
    background-color: black;
    width: 30px;
    height: 30px;
    font-size: 25px;
    font-family: poppins;
    color: white;
}
.counter-content button:disabled{
    line-height: 15px;
    background-color: transparent;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    font-size: 25px;
    font-family: poppins;
    color: black;
}
.item-add-to-card button{
    font-family: poppins;
    font-size: 17px;
    background-color: black;
    padding: 15px 10px;
    color: white;
    cursor: pointer;
}
.counter-content span{
    font-size: 18px;
    font-family: poppins;
}
