.preloader{
    width: 100%;
    height: 600px;
}
.preloader .preloader-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carga{
    border: 7px solid rgb(225, 225, 225);
    border-top-color: rgb(0, 0, 0) ;
    border-top-style: groove ;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: auto;
    animation: girar 1s linear infinite;
}

@keyframes girar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}