.checkout{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkout .form-checkout{
    width: 850px;
    background-color: white;
}
.checkout .form-checkout .modal-check-out{
    box-shadow: 0 0 20px rgba(0,0,0,0.1),
    -15px 15px 20px rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    padding:40px;
    border-radius: 5px;
}
.checkout .form-checkout .modal-check-out .productos-sin-stock{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.checkout .form-checkout .modal-check-out .productos-sin-stock .error{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.checkout .form-checkout .modal-check-out .productos-sin-stock .error h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.checkout .form-checkout .modal-check-out .productos-sin-stock .producto-sin-stock{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.checkout .form-checkout .modal-check-out .productos-sin-stock .producto-sin-stock .producto-sin-stock-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.checkout .form-checkout .modal-check-out .productos-sin-stock .producto-sin-stock .producto-sin-stock-content .producto-sin-stock-img{
    width: 150px;
}
.checkout .form-checkout .modal-check-out .productos-sin-stock .producto-sin-stock .producto-sin-stock-content .producto-sin-stock-img img{
    width: 100%;
}
.checkout .form-checkout .modal-check-out .productos-sin-stock .producto-sin-stock .producto-sin-stock-content .producto-sin-stock-name{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.checkout .form-checkout .modal-check-out .productos-sin-stock .producto-sin-stock .producto-sin-stock-content .delete-product{
    display: flex;
    align-items: center;
    padding: 10px 5px;
    background-color: black;
    border: 1px solid black;
    color: white;
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.checkout .form-checkout .modal-check-out h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.checkout .form-checkout .modal-check-out p{
    font-family: 'Poppins', sans-serif;
    text-align: start;
    font-size: 20px;
}
.checkout .form-checkout .modal-check-out .datos-ingresados {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.checkout .form-checkout .modal-check-out .datos-ingresados .datos-mostrados p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: start;
}
.checkout .form-checkout .modal-check-out .datos-ingresados .datos-mostrados p span{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-right: 8px;
}

.checkout .form-checkout .modal-check-out .btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.checkout .form-checkout .modal-check-out .btns a{
    display: flex;
    align-items: center;
    padding: 10px 5px;
    background-color: black;
    border: 1px solid black;
    color: white;
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.checkout .form-checkout .modal-check-out .datos{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.checkout .form-checkout .modal-check-out .form-invalido span{
    display: flex; 
    align-items: center; 
    gap: 5px;
    background-color: rgb(213, 108, 108);
    margin-top: 20px;
    padding: 5px 8px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.checkout .form-checkout .modal-check-out .btn-crear-orden{
    display: flex;
    align-items: center;
    padding: 10px 5px;
    background-color: black;
    border: 1px solid black;
    color: white;
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}


.checkout .form-checkout .modal-check-out .productos-comprados{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}
.checkout .form-checkout .modal-check-out .productos-comprados .producto-comprado-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.checkout .form-checkout .modal-check-out .productos-comprados .producto-comprado-content .producto-comprado-img{
    width: 150px;
}
.checkout .form-checkout .modal-check-out .productos-comprados .producto-comprado-content .producto-comprado-img img{
    width: 100%;
}
.checkout .form-checkout .modal-check-out .productos-comprados .producto-comprado-content .producto-comprado-name{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 175px;
    text-align: center;
}
