.search-heart-car .search{
    position: relative;
    padding: 5px;
}
.search-heart-car .search input{
    width: 0px;
    height: 30px;
    padding: 0 15px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: black;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
    transition: 0.7s ease all;
}
.search-heart-car .search .btn{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    border: none;
    width: 40px;
    height: 40px;
    line-height: 44px;
    border-radius: 50%;
    cursor: pointer;
}
.search-heart-car .search:hover input{
    width: 240px;
}
.search-heart-car .search input:focus{
    width: 240px;
}