*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}
body ::-webkit-scrollbar{
    width: 15px;
    background-color: white;
}
body ::-webkit-scrollbar-thumb{
    background-color: #c4c4c4;
    border-radius: 5px;
}
.container{
    max-width: 1800px;
    margin: auto;
}
.container-content{
    max-width: 1440px;
    margin: auto;
}