/* .container{
    width: 100%;
    max-width: 1440px;
    margin: auto;
} */
.productos-filtros{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}
.productos-filtros .productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.productos-filtros .productos .sin-productos h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}